<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233401268186-j72bik1colq0j2adrc1nnk3ldg9929e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233401268186-j72bik1colq0j2adrc1nnk3ldg9929e9</string>
	<key>API_KEY</key>
	<string>AIzaSyBdLFRLseLCiLYBB_H_UV7H8UiKzLh5e8c</string>
	<key>GCM_SENDER_ID</key>
	<string>233401268186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tomsan96.sharehoshi</string>
	<key>PROJECT_ID</key>
	<string>sharehoshi</string>
	<key>STORAGE_BUCKET</key>
	<string>sharehoshi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233401268186:ios:9c69a3e18f66357701f2e3</string>
</dict>
</plist>